* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Montserrat, Courier;
  font-size: 13px;
  line-height: 18px;
  color: #515076;
  font-weight: 400;
}

.title-product {
  font-size: 70px;
  text-align: center;
  font-weight: 400;
  line-height: 78px;
  width: 846px;
  height: 78px;
  position: absolute;
  top: 220px;
  left: 217px;
}

.background {
  background-image: url(./image/flovers.svg);
  background-size: 790px 697px;
  width: 790px;
  height: 697px;
  background-position: 85px 0px;
  background-repeat: no-repeat;
}

.products-list {
  list-style: none;
  margin-top: -310px;
  margin-left: 85px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 10px;
  justify-content: center;
  width: 1110px;
  height: 1191px;
  position: relative;
}

.card-list__item {
  padding: 25px;
  width: 340px;
  height: 573px;
  background-color: #f7f7fa;
  box-shadow: 2px 2px 10px 0px rgba(81, 80, 118, 0.1);
}

.description {
  margin-top: 30px;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #a5a3b9;
  display: block;
}

.name {
  font-weight: 700;
  font-style: Bold;
  margin-bottom: 5px;
  font-size: 20px;
  line-height: 27px;
}

.product-properties {
  margin-bottom: 15px;
}

.price-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.price {
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 24px;
}

.cost-product {
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 24px;
}

.card-list {
  margin-top: 5px;
  list-style: circle;
  margin-bottom: 25px;
}

.product-composition {
  margin-left: 14px;
}
